DEBUG=True
DJANGO_SECRET_KEY=troque-esta-chave-em-producao
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=America/Sao_Paulo

DB_ENGINE=mysql
DB_NAME=Universal_Epi
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

ALLOW_SELF_REGISTRATION=True
LIST_PAGE_SIZE=10

SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
